.bg-dangki-img {
    
     width: 99%;
    height: 98vh; 
    position: absolute;
    z-index: -11;
}

.form-dangki {
    
    height: 716px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    
    box-shadow: -5px 5px 15px rgba(0, 0, 0, 1);
}
