* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 15px;
    line-height:1.6rem;
    font-family: Arial, Helvetica, sans-serif;
   
}
.thongSoKT {
    background-color: rgba(242,242,242,0.3);
}

.bg-LT {
    background-color: #222222;
}
.text-LT {
    color: #39D2F7;
}
.text-link {
    color: white;
}
.text-link:hover {
    color: #39D2F7;
}

.text-justify {
    text-align: justify;
}
.LT-heigh-120{
    height: 120px;
}
.bd-bottom {
    border-bottom: rgba(57, 210, 247, 0.3) solid 1px;
}
.bd-link {
    border-bottom: rgba(57, 210, 247,0) solid 3px;
}
.bd-link:hover {
    border-bottom: rgba(57, 210, 247) solid 3px;
}
.bd-img {
    border: 1px solid rgba(0,0,0,.125)
}
.bd-img:hover {
    border: rgba(57, 210, 247) solid 1px;
}

.bg-gradient-LT {
    background-image: linear-gradient(rgba(2,2,2,0),rgba(2,2,2,0.7));
}

a {
    text-decoration: none;
    
}
a:hover {
    color: #39D2F7;
    text-decoration: none;
}

.btn-LT {
    border-radius: 7px;
    border: #39D2F7 solid 1px;
    background-color: #222222;
    color: #39D2F7;
    font-weight: 500;
    
}
.btn-LT:hover {
    color: white;
    
    background-color: rgba(2,2,2,0.7);
}