

.thanhvien {
    
    width: 100%;
     min-height: 250px;
    
    
 }
 .content-tv{
     display: inline-flex; 
     padding: 25px;
 }
 .thanhvien1 {
    
     display: inline-flex;
    
    
     text-align: center;
 }
 .thanvien2 {
   
    display: inline-flex;
    text-align: center;
   
    
}


