
#container {
    
}
#gioHang {
    position: relative;
}
.so-Luong-GioHang {
    position: absolute;
   
    width: 20px;
    height: 20px;
    border-radius: 50%;
     background-color: red;
    top: 0;
    right: 0;
    

}
.so-Luong-GioHang p {
    font-size: 17px;
    font-weight: bold;
}

nav .bd-link {
    margin: 0 10px;
}
.footer p {
    font-size: 40px;
    font-weight: bold;
}
#content {
margin: 10px;
}

.trend {
     width: 100%;
     min-height: 200px;
     height: auto;
     display: inline-flex;
     position: relative;
     padding: 25px;
     

 }
 .trend-left {
     position: absolute;
     display: inline-flex;
     left: 200px;
     height: 100%;
    padding-right: 45px;
     text-align: center;
    width: 600px;
   

 }
 .trend-right {
    position: absolute;
    display: inline-flex;
    right: 200px;
    height: 100%;
    border-left: 1px solid #ccc;
    text-align: center;
    padding-left: 45px;
    width: 600px;
   

}
.content-title-laptop {
    background-color: black;
    color: white;
    padding: 45px;
    border-radius: 50px;
}
.content-image-laptop {
    background-color: #fcf8f8;
    
}
.content-title-phukien {
    background-color: black;
    color: white;
    padding: 45px;
    border-radius: 50px;
}
.content-image-phukien {
    background-color: #fdfcfc;
}

.image {
    margin: 20px;
    border: 1px solid rgb(248, 247, 247);
}
.img-size {
    height: 150px;
    width: 250px;
}



